{% extends 'base_template.html' %}
{% block title %} Ingrediente {% endblock %}
{% block content %}
    <div>
        <h1>Ingresar Ingrediente</h1>
        <form action = "{{ url_for('ingrediente') }}" method = "post" class= "container">

            {% for i in range(cantidadIngredientes) %}
            <label for = "nombreIngrediente{{i}}">Nombre</label>
            <input type = "text" name = "nombreIngrediente{{i}}" placeholder = "Nombre" /><br> 
            
            <label for = "cantidad{{i}}">Cantidad</label><br>
            <input type = "number" name = "cantidad{{i}}" placeholder = "cantidad" /><br> 

            <label for = "unidad{{i}}">Unidad</label><br>
            <input type = "text" name = "unidad{{i}}" placeholder = "unidad" />	 
            {% endfor %}

            <input id="userId" name="receta_id" type="hidden" value="{{ recetaActual }}"> 
            <input id="cant" name="cantidadIngredientes" type="hidden" value="{{cantidadIngredientes}}">
            <br>
            <input type = "submit" value = "Guardar" />
        </form>
    </div>
{% endblock %}