{% extends 'base_template.html' %}
{% block title %} Votacion {% endblock %}

{% block content %}
    <h1>Votacion</h1>
    <div class="mg-contenedor-megusta">
        <form action="{{ url_for('megusta')}}" method="post">
            {% for receta in listaRecetas %}
                <div>
                <input type="radio" name="idreceta" id="receta.id" value="{{receta.id}}">
                <label for="idreceta">{{receta.nombre}}</label>            
                </div>
                {% endfor %}
            <button type="submit">Guardar</button>
        </form>
    </div>
    <a class="btn-volver-menu" href="{{ url_for('menu') }}">Volver al menu principal</a>
{% endblock %}