{% extends 'base_template.html' %}
{% block title %} Recetas por tiempo de elaboración {% endblock %}

{% block content %}
    <div>
        <form action="{{ url_for('tiempoelaboracion') }}" method="post">
            <label for="tiempolimite"></label>
            <input type="number" name="tiempolimite" placeholder="Tiempo">
            <button type="submit">Buscar</button>
        </form>
        
        {% if condicion %}
            <form action="{{ url_for('mostrar')}}" method="post">
                {% for receta in listaRecetas %}
                    <input type="radio" name="idreceta" id="receta.id" value="{{receta.id}}">
                    <label for="idreceta">{{receta.nombre}}</label>            
                {% endfor %}
                <button type="submit">Mas informacion</button>
            </form>
        {% endif %}

    </div>
    <a href="{{ url_for('menu') }}">Volver al menu principal</a>
{% endblock %}